---
import FotoPerfil from "@/assets/Foto-perfil.png";
import TypewriterEffectSmooth from "@/components/TypeWriter";
import TextGenerateEffect from "@/components/TextGenerateEffect";
import { MESSAGES } from "@/constants/messages.constants";
import { LayoutTextFlip } from "./TextFlip";
import { TextHoverEffect } from "./TextHoverEffect";
---

<section class="layouts title">
  <TypewriterEffectSmooth
    words={[
      { text: "BENJAMIN" },
      { text: "<DEV />", className: "text-blue-500 dark:text-blue-500" },
    ]}
    className=""
    cursorClassName=""
    client:load
  />
</section>
<section class="layouts flex self-center items-center justify-center">
  <picture id="initial-name">
    <img
      alt="perfil_img"
      class="text-center justify-center"
      height={200}
      width={200}
      src={FotoPerfil.src}
    />
  </picture>
</section>
<section class="layouts justify-center" id="about-me">
  <TextGenerateEffect
    words={MESSAGES.ABOUT_ME}
    className="aboutMe"
    client:load
  />
</section>
<section class="layouts stack" id="stack">
  <LayoutTextFlip client:load />
</section>
<section class="layouts" id="projects">
  <!-- <TypewriterEffectSmooth words={[{ text: "PROYECTOS" }]} client:visible /> -->

  <TextHoverEffect text="PROYECTOS" duration={0.11} client:load />
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  console.log("GSAP version: ", gsap.version);

  gsap.registerPlugin(ScrollTrigger);

  const timeLine = gsap.timeline({
    scrollTrigger: {
      scrub: 1, // demora en que dura el scroll en sincronizarse con la linea de tiempo
    },
  });

  // timeLine.to("#projects", { duration: 1, scale: 2 });
  // timeLine.to("#about-me", { opacity: 1, duration: 0.002 });
</script>
