---
// "use-client";
import FotoPerfil from "@/assets/Foto-perfil.png";
import { TextGenerateEffect, TypewriterEffectSmooth } from "@/components";
import { MESSAGES } from "@/constants/messages.constants";
import { LayoutTextFlip } from "./TextFlip";
import { motion } from "motion/react";
import { TextHoverEffect } from "./TextHoverEffect";
---

<div>
  <section>
    <TypewriterEffectSmooth
      words={[
        { text: "BENJAMIN" },
        { text: "DEV", className: "text-blue-500 dark:text-blue-500" },
      ]}
      client:load
    />
  </section>
  <section class="grid grid-cols-2 columns-10 row-span-1">
    <picture id="initial-name">
      <img
        alt="perfil_img"
        class="text-center justify-center"
        src={FotoPerfil.src}
      />
    </picture>
  </section>
  <section class="justify-center m-300" id="about-me">
    <TextGenerateEffect
      words={MESSAGES.ABOUT_ME}
      className="inline"
      client:load
    />
  </section>
  <section>
    <motion.div
      class="relative mx-4 my-4 flex flex-col items-center justify-center gap-4 text-center sm:mx-0 sm:mb-0 sm:flex-row"
    >
      <LayoutTextFlip client:load />
    </motion.div>
  </section>
  <section>
    <div class="h-[40rem] flex items-center justify-center">
      <TextHoverEffect text="PROYECTOS" client:load />
    </div>
  </section>

  <!-- <script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  console.log("GSAP version: ", gsap.version);

  gsap.registerPlugin(ScrollTrigger);

  const timeLine = gsap.timeline({
    scrollTrigger: {
      scrub: 1, // demora en que dura el scroll en sincronizarse con la linea de tiempo
    },
  });

  timeLine.to("#initial-name", { opacity: 0, duration: 0.02 });
  timeLine.to("#about-me", { opacity: 1, duration: 0.002 });
</script> -->
</div>
